@font-face {
  font-family: "LGEI";
  src: url("./assets/Fonts/TTF/LGEIHeadlineTTF-Light.ttf");
}
@font-face {
  font-family: "LGBOLD";
  src: url("./assets/Fonts/TTF/LGEIHeadlineTTF-Regular.ttf");
}

html {
  background-color: #f6f3eb;
}

body {
  background-color: #e6e6e6;
  margin: 0px;
  font-family: LGEI, "LGEI", Segoe UI, "Microsoft Sans Serif", sans-serif;
}
div {
  font-family: LGEI, "LGEI", Segoe UI, "Microsoft Sans Serif", sans-serif;
}
#content {
  width: 100%;
}
.react-grid-layout {
  background: #fff;
  margin-top: 10px;
}
.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
.react-grid-item {
  box-sizing: border-box;
}
.react-grid-item:not(.react-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
  border-radius: 8px;
}
.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}
.react-grid-item .text {
  /* font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px; */
}
.react-grid-item .minMax {
  font-size: 12px;
}
.react-grid-item .add {
  cursor: pointer;
}
.react-grid-dragHandleExample {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.toolbox {
  background-color: #dfd;
  width: 100%;
  height: 120px;
  overflow: scroll;
}

.hide-button {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 5px;
}

.toolbox__title {
  font-size: 24px;
  margin-bottom: 5px;
}
.toolbox__items {
  display: block;
}
.toolbox__items__item {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: #ddd;
}
.droppable-element {
  width: 150px;
  text-align: center;
  background: #fdd;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.text-bold {
  font-weight: 700;
}

.margin-top-50 {
  margin-top: 50px;
}

#torrent-scanner-popup {
  all: unset;
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 1px;
  position: fixed !important;
  top: 1px !important;
  right: 1px !important;
  z-index: 99999999 !important;
}

#yf-bt-wrapper,
#yf-bt-wrapper .header {
  text-align: left;
  width: 366px;
  padding: 0;
}

#yf-bt-wrapper {
  font: 13px/18px LatoRegular, sans-serif;
  margin: 0;
  background: #fff;
}

#yf-bt-wrapper h1,
#yf-bt-wrapper h2 {
  font-size: 22px;
  color: #000;
}

#yf-bt-wrapper h1 {
  /* font-family: LatoBold, sans-serif; */
}

#yf-bt-wrapper h2,
#yf-bt-wrapper p {
  /* font-family: LatoRegular, sans-serif; */
}

#yf-bt-wrapper p {
  font-size: 14px;
  color: #333;
}

#yf-bt-wrapper button:disabled {
  background-color: #ccc !important;
  cursor: unset !important;
  border: 1px solid #ccc !important;
}

#yf-bt-wrapper .container,
#yf-bt-wrapper .footer,
#yf-bt-wrapper .header {
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
}

#yf-bt-wrapper .display-none {
  display: none;
}

#yf-bt-wrapper .bg-white {
  background: #fff;
}

#yf-bt-wrapper .header {
  position: relative;
  height: 50px;
  margin: auto;
  border-top: solid 1px #dedede;
  background: radial-gradient(closest-side at 50% 50%, #656565 0, #292929 100%)
    no-repeat padding-box;
}

#yf-bt-wrapper .sts-logo {
  max-height: 38px;
  margin: 8px 10px 0 8px;
  width: auto;
}

#yf-bt-wrapper .container {
  width: 366px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-bottom: solid 1px #dedede;
}

#yf-bt-wrapper .main-container {
  min-height: 450px;
  padding-bottom: 25px;
}

#yf-bt-wrapper .alert-success,
#yf-bt-wrapper .alert-warning {
  padding: 15px 0;
  color: #fff;
  width: 100%;
  font-size: 14px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#yf-bt-wrapper .alert-warning {
  background: #f0310c;
}

#yf-bt-wrapper .alert-success {
  background: #1399fc;
}

#yf-bt-wrapper .search-input {
  position: relative;
  color: #111;
  width: 248px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: no-repeat padding-box #fff;
  padding-left: 10px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 14px;
  z-index: 10;
}

#yf-bt-wrapper .search-input:focus {
  background: #fff;
  outline: 0;
  border-color: #e6e6e6;
}

#yf-bt-wrapper .search-input + .search-btn {
  display: block;
  background-image: url(../img/assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 2px;
  top: 1px;
  z-index: 50;
}

#yf-bt-wrapper .checked-sites-section {
  display: none;
  width: auto;
}

#yf-bt-wrapper .search-input:focus + .search-btn,
#yf-bt-wrapper.pro .search-input:focus + .search-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  width: 35px;
  height: 35px;
  top: 2px;
}

#yf-bt-wrapper .search-input + .search-btn:hover {
  cursor: pointer;
}

#yf-bt-wrapper .search-input:focus + .search-btn {
  background-image: url(../img/assets/icon-search-blue-hover.svg);
}

#yf-bt-wrapper.pro .search-input:focus + .search-btn {
  background-image: url(../img/assets/icon-search-hover.svg);
}

#yf-bt-wrapper .search-content {
  position: absolute;
  top: 7px;
  right: 8px;
  width: auto;
}

#yf-bt-wrapper .checked-sites-section {
  position: relative;
  padding: 7px 10px;
  background: linear-gradient(0deg, #d3d3d3 0, #fff 8%, #fff 91%, #f4f4f4 100%)
    no-repeat padding-box;
}

#yf-bt-wrapper .checked-sites-section .left {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
}

#yf-bt-wrapper .checked-sites-section .right {
  font-weight: 700;
  float: right;
  color: #fff;
}

#yf-bt-wrapper .checked-sites-section .right span {
  font-size: 10px;
  background: #4fc739;
  padding: 4px;
  display: inline-block;
  text-align: center;
  width: 12px;
  border-radius: 50%;
}

#yf-bt-wrapper .torrent-content {
  position: relative;
  padding: 0;
  width: 366px;
  margin: 0 auto;
}

#yf-bt-wrapper .t-body > button {
  position: absolute;
  top: 256px;
  left: 120px;
}

#yf-bt-wrapper .t-table {
  width: 100%;
}

#yf-bt-wrapper .t-table .t-header {
  position: relative;
  background: linear-gradient(
      0deg,
      #d3d3d3 0,
      #e1e1e1 8%,
      #f4f4f4 91%,
      #fff 100%
    )
    no-repeat padding-box;
}

#yf-bt-wrapper .t-table .t-header div {
  position: relative;
  margin: 10px 0;
  text-align: center;
  color: #171717;
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

#yf-bt-wrapper .t-table .t-header div.t-name {
  width: auto;
  text-align: left;
  color: #333;
  padding: 9px;
  margin: 0;
  display: none;
}

#yf-bt-wrapper .t-header .t-more:before {
  content: "";
  background-image: url(../img/assets/overflow-icon.svg);
  background-repeat: no-repeat;
  width: 2px;
  height: 8px;
  display: block;
  margin: 0 auto;
}

#yf-bt-wrapper.free .t-body,
#yf-bt-wrapper.pro .t-body {
  background: #fff;
  min-height: 311px;
  position: relative;
  overflow: auto;
}

#yf-bt-wrapper.free .t-body {
  max-height: 311px;
}

#yf-bt-wrapper.pro .t-body {
  max-height: 422px;
}

#yf-bt-wrapper .t-body .t-torrent {
  height: 60px;
  position: relative;
  text-align: left;
}

#yf-bt-wrapper .t-body .t-row {
  background-color: #fff;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
}

#yf-bt-wrapper .t-body .t-row:hover {
  background-color: #f1f1f1;
}

#yf-bt-wrapper .t-body .t-row:nth-child(odd) {
  background-color: #fbfbfb;
}

#yf-bt-wrapper .t-body .t-torrent div {
  display: inline-block;
}

#yf-bt-wrapper .t-body .t-torrent .torrent-info-content {
  display: inline-block;
  width: 250px;
  height: 60px;
  vertical-align: top;
}

#yf-bt-wrapper .t-body .t-torrent .torrent-info-list {
  height: 18px;
  padding: 0 15px;
  white-space: nowrap;
}

#yf-bt-wrapper .t-body .t-torrent .t-name-text {
  color: #1a1a1a;
  font-size: 12px;
  letter-spacing: -0.12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 14px;
  width: 250px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}

#yf-bt-wrapper .torrent-link {
  color: #1a1a1a;
  text-decoration: none;
  display: inline-block;
  margin: 11px 0 6px;
  line-height: normal;
}

#yf-bt-wrapper .t-body .t-torrent .overflow {
  width: 1px;
  height: 23px;
  background-image: url(../img/assets/rectangle.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}

#yf-bt-wrapper .t-body .t-torrent .t-quality-text,
#yf-bt-wrapper .t-body .t-torrent .t-type-icon {
  width: auto;
  color: #282828;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
}

#yf-bt-wrapper .t-body .t-torrent .t-quality-text {
  margin-right: 7px;
  vertical-align: middle;
}

#yf-bt-wrapper .t-body .t-torrent .t-lang-text,
#yf-bt-wrapper .t-body .t-torrent .t-status-text {
  width: 67px;
  color: #282828;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  height: auto;
  vertical-align: middle;
}

#yf-bt-wrapper .t-body .t-torrent .t-arrow {
  width: 26px;
  vertical-align: middle;
  text-align: center;
  height: 45px;
  float: right;
  margin-right: 15px;
}

#yf-bt-wrapper .t-body .t-torrent .t-arrow .arrow-down,
#yf-bt-wrapper .t-body .t-torrent .t-arrow .arrow-up {
  cursor: pointer;
  z-index: 999;
  margin-top: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  width: 27px;
  height: 27px;
  display: block;
}

#yf-bt-wrapper .t-body .t-torrent .t-arrow .arrow-down {
  background-image: url(../img/assets/chevron-expand.svg);
}

#yf-bt-wrapper .t-body .t-torrent .t-arrow .arrow-up {
  background-image: url(../img/assets/chevron-collapse.svg);
}

#yf-bt-wrapper .t-row .torrent-download-icon-gif,
#yf-bt-wrapper .t-torrent .torrent-download-icon {
  background-size: 32px;
  width: 48px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#yf-bt-wrapper .torrent-title {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

#yf-bt-wrapper .t-torrent .torrent-download-icon {
  display: inline-block !important;
  background-image: url(../img/assets/download-icon.gif);
  border-right: 1px solid #dedede;
}

#yf-bt-wrapper.free .t-torrent .torrent-download-icon:hover {
  background-image: url(../img/assets/dl-icon-blue-static.gif);
}

#yf-bt-wrapper.pro .t-torrent .torrent-download-icon:hover {
  background-image: url(../img/assets/dl-icon-green-static.gif);
}

#yf-bt-wrapper .t-row .torrent-download-icon-gif {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#yf-bt-wrapper.free .t-row .torrent-download-icon-gif {
  background-image: url(../img/assets/dl-icon-blue-loop.gif);
}

#yf-bt-wrapper.pro .t-row .torrent-download-icon-gif {
  background-image: url(../img/assets/dl-icon-green-loop.gif);
}

#yf-bt-wrapper .t-row .torrent-download-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
}

#yf-bt-wrapper .t-row .torrent-download-overlay .download-text {
  text-align: center;
  letter-spacing: -0.12px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  padding: 0;
  line-height: 60px;
  margin: 0 0 0 20px;
}

#yf-bt-wrapper .tv-icon {
  width: 14px;
  height: 45px;
  vertical-align: middle;
}

#yf-bt-wrapper .t-torrent-more {
  margin: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s linear;
  -moz-transition: height 0.4s linear;
  -ms-transition: height 0.4s linear;
  -o-transition: height 0.4s linear;
  transition: height 0.4s linear;
}

#yf-bt-wrapper .show-info {
  display: block;
  height: 60px;
  text-align: left;
}

#yf-bt-wrapper .t-torrent-more button {
  margin: 0 auto;
  display: block;
}

#yf-bt-wrapper .t-torrent-more .t-info-left {
  display: inline-block;
  width: 30px;
  margin: 10px 0 10px 10px;
  padding-right: 8px;
  vertical-align: top;
}

#yf-bt-wrapper .t-torrent-more .t-info-right {
  font-size: 10px;
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  border-left: 1px solid #e2e2e2;
}

#yf-bt-wrapper .t-torrent-more span {
  font-weight: 700;
}

#yf-bt-wrapper .t-low-availability span {
  color: #feab3d;
  vertical-align: middle;
}

#yf-bt-wrapper .t-low-availability img {
  vertical-align: middle;
}

#yf-bt-wrapper .t-low-availability {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  color: #666;
  vertical-align: middle;
  margin-right: 7px;
}

#yf-bt-wrapper .t-torrent-secure,
#yf-bt-wrapper .t-torrent-size {
  letter-spacing: -0.2px;
  color: #666;
  margin-right: 7px;
  vertical-align: middle;
  font-size: 11px;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
}

#yf-bt-wrapper .t-torrent-secure {
  font-weight: 700;
}

#yf-bt-wrapper .t-torrent-secure::before {
  content: " ";
  display: inline-block;
  background-image: url(../img/assets/icon-secure.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  padding-left: 3px;
  vertical-align: middle;
}

#yf-bt-wrapper .t-torrent-seeds {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #76b83f;
  margin-right: 7px;
  vertical-align: middle;
}

#yf-bt-wrapper .t-torrent-leeches {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #09f;
  margin-right: 7px;
  vertical-align: middle;
}

#yf-bt-wrapper .t-torrent-type {
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #666;
  vertical-align: middle;
  margin-right: 7px;
}

#yf-bt-wrapper .t-torrent-type b {
  text-transform: uppercase;
}

#yf-bt-wrapper .t-torrent-leeches img,
#yf-bt-wrapper .t-torrent-seeds img {
  vertical-align: middle;
  padding-right: 2px;
}

#yf-bt-wrapper .t-torrent-filename,
#yf-bt-wrapper .t-torrent-lang,
#yf-bt-wrapper .t-torrent-path,
#yf-bt-wrapper .t-torrent-virus {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666;
  height: 20px;
}

#yf-bt-wrapper .t-torrent-lang img {
  width: 10px;
}

#yf-bt-wrapper .t-torrent-filename img,
#yf-bt-wrapper .t-torrent-lang img,
#yf-bt-wrapper .t-torrent-path img,
#yf-bt-wrapper .t-torrent-virus img {
  padding-right: 4px;
}

#yf-bt-wrapper .footer {
  position: absolute;
  bottom: 0;
  color: #666;
  width: 365px;
  height: 25px;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(180deg, #efefef 0, #e8e8e8 100%);
  border-bottom: solid 1px #dedede;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#yf-bt-wrapper .footer span {
  padding: 0 5px;
  line-height: 25px;
  font-weight: 700;
}

#yf-bt-wrapper .feedbackButton {
  font-size: 9px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 16px;
  bottom: 5px;
  color: #76b83f;
  padding: 3px 5px;
  border: 1px solid #76b83f;
  background: 0 0;
}

#yf-bt-wrapper .feedbackButton:hover {
  text-decoration: underline;
}

@media only screen and (max-height: 670px) {
  .t-body .t-torrent {
    height: 36px;
    position: relative;
  }
}

#yf-bt-wrapper .nav-se-container {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: none;
}

#yf-bt-wrapper .expiry-date {
  font-weight: 700;
}

#yf-bt-wrapper .nav-se-content {
  padding: 34px;
}

#yf-bt-wrapper .nav-se-content .settings-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
}

#yf-bt-wrapper .nav-se-content .settings-title:before {
  content: "";
  display: inline-block;
  background-image: url(../img/assets/icon-settings.svg);
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

#yf-bt-wrapper .nav-se-container .nav-se-icon {
  width: 60px;
  margin: 15px;
}

#yf-bt-wrapper .nav-se-container .nav-se-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  padding: 10px 0;
}

#yf-bt-wrapper .nav-se-container .nav-se-text {
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

#yf-bt-wrapper.free .nav-se-container .nav-se-btn {
  border-radius: 22px;
  border: none;
  padding: 10px 30px;
  margin: 10px 0;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  background: #1399fc;
}

#yf-bt-wrapper.pro .nav-se-container .nav-se-btn {
  border-radius: 22px;
  border: none;
  padding: 10px 30px;
  margin: 10px 0;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  background: #26a616;
}

#yf-bt-wrapper.free .nav-se-container .nav-se-btn:hover {
  cursor: pointer;
  background: #0375c1;
}

#yf-bt-wrapper.pro .nav-se-container .nav-se-btn:hover {
  background: #218813;
}

#yf-bt-wrapper .nav-se-container .license-input-key {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #c1d8ae;
  display: block;
  background-color: #fff;
}

#yf-bt-wrapper .link,
#yf-bt-wrapper .nav-se-container .license-buy-link {
  color: #398fe6;
  text-decoration: underline;
  cursor: pointer;
}

#yf-bt-wrapper .torrent-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

#yf-bt-wrapper .blur-out {
  filter: blur(2px);
  display: none;
}

#yf-bt-wrapper .table-message-container {
  display: none;
  text-align: center;
  width: 280px;
  margin: 120px auto 0;
}

#yf-bt-wrapper .table-message-container p {
  line-height: 25px;
}

#yf-bt-wrapper .tooltip {
  display: none;
  position: absolute;
  top: 10px;
  left: 120px;
  background-color: #fff;
  border-left: 7px solid #1399fc;
  width: 180px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#yf-bt-wrapper.pro .tooltip {
  border-left: 7px solid #76b83f;
}

#yf-bt-wrapper .tooltip-text {
  font-size: 11px;
  line-height: 17px;
  margin: 10px 15px;
}

#yf-bt-wrapper .tooltip-text::after {
  content: "";
  position: absolute;
  top: -12px;
  margin-left: -15px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

#yf-bt-wrapper {
  all: unset;
  color: #111;
}

#yf-bt-wrapper .upgradeProPanel {
  padding: 3px 2px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0,
    rgba(233, 251, 255, 1) 0,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0 10px 10px -5px #d6d6d6;
}

#yf-bt-wrapper .upgradeProPanelTitle {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 13px 0 12px;
}

#yf-bt-wrapper .upgradeProPanelList {
  text-align: left;
  margin: 0 10px;
}

#yf-bt-wrapper .upgradeProPanelList div {
  padding: 2px 4px;
  display: inline-block;
  width: 106px;
  position: relative;
  margin: 0;
  vertical-align: text-top;
}

#yf-bt-wrapper .upgradeProPanelList div > p {
  font-size: 10px;
  font-weight: 700;
  position: relative;
  margin: 2px 1px 2px 0;
  padding: 0 0 0 22px;
  letter-spacing: 0;
  line-height: 12px;
}

#yf-bt-wrapper .upgradeProPanelList div > p::before {
  content: "";
  background-image: url(../img/assets/icon-check.svg);
  width: 14px;
  height: 14px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 4px;
}

#yf-bt-wrapper .proPanelBanner {
  width: 100%;
  background: #fff;
  text-align: center;
  position: sticky;
  bottom: 0;
  left: 0;
}

#ys-bt-permission-banner {
  all: unset;
  display: block;
  position: absolute;
  bottom: 65px;
  left: 5px;
  width: auto;
  height: auto;
  background-color: #fff;
  z-index: 99999999;
}

.permission-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}

#ys-bt-permission-banner .container {
  display: block;
  position: ralative;
  width: 295px;
  height: auto;
  padding: 20px 27px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  text-align: left;
  background: #fff;
  z-index: 1;
  /* font-family: Arial, sans-serif; */
  border-left: 7px solid #1399fc;
}

#yf-bt-wrapper.pro #ys-bt-permission-banner .container {
  border-left: 7px solid #49b804;
}

#ys-bt-permission-banner .container::after {
  content: "";
  position: absolute;
  bottom: -18px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent;
}

#ys-bt-permission-banner p {
  display: block;
  font-size: 12px;
  line-height: 16px;
  /* font-family: Arial, sans-serif; */
  margin: 0 auto;
  text-align: left;
  color: #000;
}

#ys-bt-permission-banner .per-btn {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1399fc;
  border: none;
  background: 0 0;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px;
  cursor: pointer;
}

#yf-bt-wrapper.pro .per-btn {
  color: #00be0a;
}

#ys-bt-permission-banner .per-btn:hover {
  color: #1178c1;
}

#yf-bt-wrapper.pro .per-btn:hover {
  color: #00be0a;
}

#ys-bt-permission-banner .per-link {
  display: block;
  font-size: 12px;
  line-height: 20px;
  /* font-family: Arial, sans-serif; */
  margin: 10px 0;
  text-align: left;
  color: #398fe6;
  text-decoration: underline;
  cursor: pointer;
}

#ys-bt-permission-banner .per-link:hover {
  color: #0f719b;
}

#ys-bt-permission-banner .per-x {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 5px;
  color: #666;
  cursor: pointer;
}

#yf-bt-wrapper .upgrade-to-pro-button-2,
#yf-bt-wrapper.free .upgrade-to-pro-button-2 {
  font-size: 13px;
  border-radius: 16px;
  height: 30px;
  letter-spacing: 0;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
}

#yf-bt-wrapper.free .upgrade-to-pro-button-2 {
  font-weight: 700;
  background: no-repeat padding-box #1399fc;
  width: 200px;
  margin: 14px 4px;
}

#yf-bt-wrapper.free .upgrade-to-pro-button-2:hover {
  background: no-repeat padding-box #0491f5;
}

#yf-bt-wrapper .upgrade-to-pro-button-2 {
  background: no-repeat padding-box #26a600;
  width: 166px;
  text-shadow: 0 1px 0;
  margin: 10px 4px;
}

#yf-bt-wrapper .upgrade-to-pro-button-2:hover {
  background: no-repeat padding-box #239401;
}

#yf-bt-wrapper .nav {
  background-color: #fff;
  width: 366px;
  height: 55px;
  color: #666;
  text-align: center;
  border-bottom: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
}

#yf-bt-wrapper .nav .nav-btn {
  color: #111;
  position: relative;
  font-size: 11px;
  font-weight: 700;
  width: 72px;
  height: 55px;
  border: none;
  background-color: #fff;
}

#yf-bt-wrapper .nav .nav-btn.selected {
  color: #1399fc;
}

#yf-bt-wrapper.pro .nav .nav-btn.selected {
  color: #42a704;
}

#yf-bt-wrapper .nav .nav-btn:active,
#yf-bt-wrapper .nav .nav-btn:hover {
  color: #1399fc;
  cursor: pointer;
}

#yf-bt-wrapper.pro .nav .nav-btn:active,
#yf-bt-wrapper.pro .nav .nav-btn:hover {
  color: #42a704;
}

#yf-bt-wrapper .nav .nav-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 2px auto 8px;
}

#btnSync::before {
  background-image: url(../img/assets/icon-sync.svg);
}

#btnLicense::before {
  background-image: url(../img/assets/icon-key.svg);
}

#btnHome::before {
  background-image: url(../img/assets/icon-home.svg);
}

#btnFeedback::before {
  background-image: url(../img/assets/icon-feedback.svg);
}

#btnSettings::before {
  background-image: url(../img/assets/icon-settings.svg);
}

#yf-bt-wrapper .spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}

#yf-bt-wrapper .license-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  display: none;
}

#yf-bt-wrapper .license-spinner > div,
#yf-bt-wrapper .spinner > div {
  width: 16px;
  height: 16px;
  margin: 2px;
  background-color: #ccc;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#yf-bt-wrapper .s-arrow .arrow-down,
#yf-bt-wrapper .s-arrow .arrow-up {
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

#yf-bt-wrapper .license-spinner .bounce1,
#yf-bt-wrapper .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#yf-bt-wrapper .license-spinner .bounce2,
#yf-bt-wrapper .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#yf-bt-wrapper .s-table {
  margin: 0 25px 25px;
}

#yf-bt-wrapper .s-row {
  text-align: left;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

#yf-bt-wrapper .s-row .s-title {
  cursor: pointer;
  padding: 10px;
  background-color: #f7f7f7;
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

#yf-bt-wrapper .s-row .s-content {
  padding: 15px 20px;
  text-align: center;
  display: none;
  overflow: auto;
}

#yf-bt-wrapper .s-row .show-content {
  max-height: 135px;
  display: block !important;
}

#yf-bt-wrapper .s-row .rate-text {
  text-align: center;
  font-size: 12px;
  margin: 5px 0;
}

#yf-bt-wrapper .settings-container {
  overflow: auto;
}

#yf-bt-wrapper .s-arrow {
  display: inline-block;
  position: absolute;
  right: 6px;
  top: 7px;
  cursor: pointer;
}

#yf-bt-wrapper .s-arrow .arrow-down {
  background-image: url(../img/assets/chevron-expand.svg);
  display: inline-block;
}

#yf-bt-wrapper .s-arrow .arrow-up {
  background-image: url(../img/assets/chevron-collapse.svg);
  display: inline-block;
}

#yf-bt-wrapper .rating {
  width: 100%;
  text-align: center;
}

#yf-bt-wrapper .rating-star {
  font-size: 40px;
  line-height: 44px;
  color: #d1d1d1;
  cursor: pointer;
}

#yf-bt-wrapper .rating-star.orange-star {
  color: #ffce00;
}

#yf-bt-wrapper .rating-btn {
  margin: 10px 0 0;
}

#yf-bt-wrapper .about-content {
  font-size: 12px;
  text-align: left !important;
}

#yf-bt-wrapper .about-version {
  color: #3e3e3e;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

#yf-bt-wrapper .about-new ul li {
  color: #898989;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#yf-bt-wrapper .contact-text,
#yf-bt-wrapper .faq-text,
#yf-bt-wrapper .policy-text {
  color: #898989;
  text-align: left;
  font-size: 12px;
}

#yf-bt-wrapper .contact-text a,
#yf-bt-wrapper .faq-text a,
#yf-bt-wrapper .policy-text a {
  color: #09f;
}

#yf-bt-wrapper .faq-text p {
  font-size: 12px;
}

#yf-bt-wrapper .faq-text ol {
  padding-left: 25px;
}

#yf-bt-wrapper .faq-text ol li {
  margin-bottom: 10px;
}

.btnglobal {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  width: 10%;
}
.color-w {
  color: white;
}
.color-b {
  color: black;
}
#lg {
  background-color: #f0ece4;
}
#lg img {
  width: 5rem;
}
#sony {
  background-color: #000;
}
#sony img {
  width: 5rem;
}
#samsung {
  background-color: #82828622;
}

#samsung img {
  width: 5rem;
}
#bose {
  background-color: #f7f8f8;
}
#bose img {
  width: 6rem;
}
#marley {
  background-color: #fff;
}

#marley img {
  width: 8rem;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Espacio igual entre los botones */
  height: 60px;
}

.text {
  /* font-family: "Courier New", Courier, monospace; */
  color: #fff;
  /* font-family: system-ui; */
  font-size: 10px !important;
  /* font-weight: bold;
  padding-top: 0.6rem; */
}

#centerModal {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 600px;
  height: 410px;
  transform: translate(-50%, -50%);
}

.closeModal {
  justify-content: right;
  margin: 0 0 8px;
}
.contentCloseModal {
  display: flex;
  justify-content: end;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform, width, height;
}
.react-grid-item.resizing {
  transition: none;
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.react-grid-placeholder.placeholder-resizing {
  transition: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.dateModal {
  position: absolute;
  right: 0;
  padding: 0 22px;
}

.text-view {
  position: absolute;
  cursor: pointer;
  padding: 5px;
}

.react-grid-item.react-draggable.cssTransforms.react-resizable {
  background-color: #b6345d;
  color: white;
  padding: 0px;
  box-shadow: 0 4px 8px rgb(90 78 78 / 46%);
  border: 0px solid #9d0e3a;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgb(157 157 157 / 75%) !important;
}

.clickHistory {
  cursor: pointer;
}

header.ant-layout-header.css-dev-only-do-not-override-usln0u {
  box-shadow: 10px 5px 5px #bebcbc;
}

aside.ant-layout-sider.ant-layout-sider-dark {
  box-shadow: 4px 4px 4px #bebcbc;
  background-color: #fefefe;
}

.logoMenu {
  margin: 1vw 1vw 1vw 1vw;
  width: 39%;
}

:where(.css-dev-only-do-not-override-usln0u).ant-layout {
  background-color: #f6f3eb !important;
}
main.ant-layout-content.css-dev-only-do-not-override-usln0u {
  border-radius: 20px !important;
}

:where(.css-dev-only-do-not-override-usln0u).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-usln0u).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  color: #262626;
}
:where(.css-dev-only-do-not-override-usln0u).ant-menu-dark,
:where(.css-dev-only-do-not-override-usln0u).ant-menu-dark > .ant-menu,
ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.css-dev-only-do-not-override-usln0u {
  background-color: #f0ece4 !important;
}
li.ant-menu-item.ant-menu-item-selected {
  background-color: #fff;
  border-radius: 20px;
}

:where(.css-dev-only-do-not-override-usln0u).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #262626;
  text-shadow: 0 0 0.25px currentcolor;
  font-family: "LGBOLD", LGBOLD;
}

.react-grid-item.react-draggable.cssTransforms.react-resizable {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

button#lg,
button#samsung,
button#sony,
button#bose,
button#marley {
  border-radius: 20px;
}

.brand-contents .visual-innner {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.brand-contents .download_assets {
  position: absolute;
  bottom: 50px;
  left: 40px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  padding: 9px 45px 9px 9px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
img.download_assets__thumb {
  width: 100%;
}

.landing-visual__scrolldown {
  /* position: absolute;
  bottom: 64px;
  left: 0px;
  width: 100%;
  z-index: 2;
  text-align: center; */
}

.landing-visual__scrolldown__btn {
  width: 68px;
  height: 96px;
  text-indent: -9999px;
  overflow: hidden;
  border-width: 0px;
  cursor: pointer;
  background: url(https://www.lg.com/content/dam/lge/global/our-brand/src/mocks/layout/main_visual_scroll_down.svg)
    no-repeat center center;
  background-size: cover;
  transform: translateY(0);
  animation: sd-dounce 2s infinite alternate;
}

@keyframes sd-dounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.ant-collapse.ant-collapse-icon-position-start.css-dev-only-do-not-override-usln0u {
  background-color: #f0ece480;
}

.ant-collapse-item.ant-collapse-item-active {
  background-color: #f0ece4;
}

div#visual-logo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%;
}
img.download_assets__thumb {
  border-radius: 8px;
}

.landing-visual__scrolldown {
  /* position: absolute;
  bottom: 64px;
  left: 0px;
  width: 100%;
  z-index: 2;
  text-align: center; */
  position: absolute;
  bottom: 0px;
}



.layoutSelect{
  padding-bottom: 3rem;
}